div.st-d7{
    border-color: #81cfb8;
}

div.st-dl{
    border-color: #81cfb8;
}

span.st-dw{
    background-color: #049295;
}

span.st-e6{
    background-color: #049295;
}

span.st-h8{
    background-color: #049295;
}

.st-emotion-cache-q8sbsg p {
    font-size: 18px; /* Adjust the font size as per your preference */
}

div.st-g1::after {
    background-color: #049295;
}

.st-emotion-cache-hc3laj:hover:not(:active),
.st-emotion-cache-hc3laj:focus:not(:active){
    border-color: #81cfb8;
    color: #81cfb8;
}

.st-emotion-cache-hc3laj:active {
    background-color: #049295;
    border-color: #049295;
}
